Repository userquin/svelte-starter-kit-pwa-issue-437, changes with the labels that .github/labeler.yml gives for each.
All labels: app, marketing, documentation, test, api, users, groups, workspace

fix(lib): tag component polich [skip ci]
  docs/playbook.md
  package-lock.json
  package.json
  src/lib/components/TagInput.svelte
  src/routes/(app)/dashboard/policies/[id]/+page.svelte
Labels: app, documentation, workspace

style(root): fix lint
  .markdownlintignore
  .prettierignore
  Dockerfile
  docs/docker.md
  package-lock.json
  package.json
  src/lib/blocks/contact/Contact1.svelte
  src/lib/blocks/contact/Contact2.svelte
  src/lib/blocks/testimonial/Testimonial2.svelte
  src/lib/components/Hello.svelte
  src/lib/components/ListErrors.svelte
  src/lib/components/PreloadingIndicator.svelte
  src/lib/components/icons/ActivityIcon.svelte
  src/lib/components/icons/AlertTriangleIcon.svelte
  src/lib/components/icons/AnchorIcon.svelte
  src/lib/components/icons/Facebook.svelte
  src/lib/components/icons/Git.svelte
  src/lib/components/icons/Github.svelte
  src/lib/components/icons/Instagram.svelte
  src/lib/components/icons/Twitter.svelte
  src/routes/(app)/dashboard/blocks/Footer2.svelte
  src/routes/(app)/dashboard/blocks/Header.svelte
  src/routes/(app)/dashboard/blocks/StatsCard.svelte
  src/routes/(app)/dashboard/blocks/StatsCard2.svelte
  src/routes/(marketing)/about/+page.svelte
  src/routes/(marketing)/blog/+page.svelte
  src/routes/(marketing)/faq/+page.svelte
  src/routes/(marketing)/features/+page.svelte
  src/routes/(play)/play/grid1/+page.svelte
  src/routes/+error.svelte
Labels: app, marketing, documentation, workspace

fix(style): fix lint [skip ci]
  .env
  .env.example
  docs/docker.md
  docs/playbook.md
  package-lock.json
  package.json
  src/app.d.ts
  src/lib/config.ts
Labels: documentation, workspace

fix(style): fix lint [skip ci]
  .env
  .env.example
  src/lib/config.ts
Labels: none

fix(hasura): polish hasura tests [skip ci]
  example.http
  infra/data/dump.sql
Labels: none

fix(config): remove un-used config [skip ci]
  .env
  .env.example
  src/app.d.ts
  src/lib/config-public.ts
  src/lib/config.ts
  src/lib/stores/auth.store.ts
  src/routes/(app)/dashboard/accounts/+page.server.ts
  src/routes/(app)/dashboard/accounts/[id]/+page.server.ts
Labels: app

fix(errors): cleanup error code [skip ci]
  src/hooks.server.ts
  src/lib/stores/auth.store.ts
  src/routes/(marketing)/+layout.js
  src/routes/api/demo/+server.ts
Labels: marketing, api

test(vitest): Mock SvelteKit runtime [skip ci]
  docs/playbook.md
  src/lib/stores/auth.store.ts
  src/setupTest.js
  src/setupTest.ts
  vite.config.ts
Labels: documentation

test(mock): Mock tests with msw
  package-lock.json
  package.json
  src/mocks/handlers.ts
  src/routes/api/example.ts
  src/routes/api/fetch.test.ts
Labels: api, workspace

test(graphql): add hasura graphql [skip ci]
  .env
  .env.example
Labels: none

fix(lib): update Tags to support bind:tags [skip ci]
  src/lib/components/Tags.svelte
  src/routes/(app)/dashboard/policies/[id]/+page.svelte
Labels: app

fix(root): remove unused code
  src/routes/(app)/dashboard/policies/[id]/+page.svelte
Labels: app

feat(auth): refactor auth, server side verification
  .env
  .env.example
  docs/playbook.md
  package-lock.json
  package.json
  src/hooks.client.ts
  src/hooks.server.ts
  src/lib/blocks/header/Header1.svelte
  src/lib/middleware/auth.ts
  src/lib/middleware/index.ts
  src/lib/middleware/logger.ts
  src/lib/stores/auth.store.ts
  src/lib/utils/index.ts
  src/lib/utils/logger.ts
  src/routes/(app)/dashboard/+layout.server.ts
  src/routes/(app)/dashboard/+layout.svelte
  src/routes/(app)/dashboard/accounts/+page.server.ts
  src/routes/(app)/dashboard/accounts/[id]/+page.server.ts
  src/routes/(app)/dashboard/policies/+page.server.ts
  src/routes/(app)/dashboard/policies/[id]/+page.svelte
  src/routes/(auth)/+layout.svelte
  src/routes/(auth)/callback/+page.svelte
  src/routes/(auth)/login/+page.svelte
  src/routes/(auth)/logout/+page.server.ts
  src/routes/+layout.svelte
  src/routes/api/example.ts
Labels: app, documentation, api, workspace

fix(auth): post_logout_redirect_uri for google
  .env
  src/lib/stores/auth.store.ts
  src/routes/(auth)/logout/+page.server.ts
Labels: none

fix(policy): lock flowbite-svelte version to 0.27.16
  package.json
  src/routes/(app)/dashboard/policies/+page.svelte
Labels: app, workspace

chore(deps): deps updated [skip ci]
  package-lock.json
  package.json
Labels: workspace

chore(profile): refactor [skip ci]
  src/routes/(app)/dashboard/policies/+page.svelte
Labels: app

chore(clsx): switching to clsx from classnames lib
  src/lib/blocks/error/404.svelte
  src/lib/blocks/error/500.svelte
  src/lib/components/Drawer.svelte
  src/lib/components/ErrorMessage.svelte
  src/lib/components/toast/Toasts.svelte
Labels: none

chore(root): updated dips, tools and docs
  .env
  .env.example
  .prettierrc
  .vscode/settings.json
  README.md
  docs/awesome-sveltekit.md
  docs/awesome-tailwind.md
  docs/playbook.md
  package-lock.json
  package.json
  src/app.pcss
  src/lib/components/Analytics.svelte
  src/lib/components/DarkMode.svelte
  src/lib/components/FloatingLabelField.svelte
  src/lib/components/Tags.svelte
  src/lib/components/index.ts
  src/lib/mocks/README.md
  src/lib/mocks/data/accounts.ts
  src/lib/mocks/data/miserables.json
  src/lib/mocks/handlers.ts
  src/lib/mocks/server.ts
  src/lib/mocks/setup.ts
  src/routes/(auth)/+layout.svelte
  src/routes/(marketing)/+layout.svelte
  src/routes/(play)/play/+layout.svelte
  src/routes/(play)/play/daisyui/+page.svelte
  src/routes/(play)/play/flowbite/+page.svelte
  src/routes/(play)/play/hyperui/+page.svelte
  src/routes/(play)/play/typography/+page.svelte
  src/routes/playwright.spec.ts
  tailwind.config.cjs
  tests/home.spec.ts
  tests/misc.spec.ts
  tsconfig.json
Labels: marketing, documentation, test, workspace

chore(auth): auth verify stale token
  src/lib/middleware/auth.ts
  src/routes/(app)/dashboard/+layout.svelte
Labels: app

fix(policy): add client side validation along with form actions
  src/lib/models/schema/account.schema.ts
  src/lib/utils/zod.utils.ts
  src/routes/(app)/dashboard/policies/+page.svelte
  src/routes/(app)/dashboard/policies/[id]/+page.server.ts
  src/routes/(app)/dashboard/policies/[id]/felte.page.svelte
  src/routes/(app)/dashboard/policies/[id]/simple.page.svelte
Labels: app

fix(policy): add client side validation along with form actions
  package-lock.json
  package.json
  src/routes/(app)/dashboard/policies/[id]/+page.svelte
Labels: app, workspace

chore(mock): remove dup mock [skip ci]
  src/lib/mocks/README.md
  src/lib/mocks/data/accounts.ts
  src/lib/mocks/data/miserables.json
  src/lib/mocks/handlers.ts
  src/lib/mocks/server.ts
  src/lib/mocks/setup.ts
Labels: documentation

fix(auth): redirect immediately after detecting stale token
  src/lib/middleware/auth.ts
  src/routes/(auth)/login/+page.svelte
Labels: none

fix(auth): redirect immediately after detecting stale token
  package-lock.json
  package.json
  src/routes/(app)/dashboard/policies/[id]/+page.svelte
Labels: app, workspace

fix(auth): redirect immediately after detecting stale token
  src/lib/middleware/auth.ts
  src/routes/(app)/dashboard/policies/[id]/+page.server.ts
Labels: app

chore(version): v0.3.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: documentation, workspace

fix(deploy): add ORIGIN to fix CSRF error in prod
  docker-compose.yml
  docs/awesome-sveltekit.md
Labels: documentation

docs(docs): polish docs [skip ci]
  README.md
  src/app.pcss
Labels: documentation

feat(houdini): adding houdini graphql client (#49)
  .gitignore
  .graphqlrc.yaml
  README.md
  docs/playbook.md
  example.http
  houdini.config.js
  package-lock.json
  package.json
  schema.graphql
  src/client.ts
  src/hooks.server.ts
  src/lib/components/toast/index.ts
  src/lib/graphql/policies.gql.bak
  src/lib/graphql/schema.docs.graphql
  src/lib/middleware/houdini.ts
  src/lib/middleware/index.ts
  src/routes/(app)/dashboard/hasura/+page.gql
  src/routes/(app)/dashboard/hasura/+page.svelte
  src/routes/(app)/dashboard/hasura/demo/+page.svelte
  src/routes/(app)/dashboard/policies/[id]/+page.svelte
  svelte.config.js
  tsconfig.json
  vite.config.ts
Labels: app, documentation, workspace

refactor(houdini): move houdini client and adding some gql files [skip ci]
  .vscode/settings.json
  README.md
  docs/awesome-sveltekit.md
  houdini.config.js
  schema.graphql
  src/lib/graphql/FRAG.PolicyAll.gql
  src/lib/graphql/FRAG.PolicyList.gql
  src/lib/graphql/MUTATION.CreatePolicy.gql
  src/lib/graphql/MUTATION.DeletePolicy.gql
  src/lib/graphql/MUTATION.UpdatePolicy.gql
  src/lib/graphql/QUERY.GetPolicy.gql
  src/lib/graphql/QUERY.ListPolicies.gql
  src/lib/graphql/client.ts
  src/lib/graphql/policies.gql.bak
  src/routes/(app)/dashboard/hasura/+page.svelte
  src/routes/(app)/dashboard/hasura/demo/+page.svelte
  src/routes/(app)/dashboard/policies/+page.server.ts
  src/routes/(auth)/login/+page.svelte
  src/service-worker.ts
  tests/home.spec.ts
Labels: app, documentation, test

refactor(blocks): moved dashboard/blocks to lib/blocks [skip ci]
  README.md
  docs/playbook.md
  package-lock.json
  package.json
  src/lib/blocks/dashboard/Footer.svelte
  src/lib/blocks/dashboard/Footer1.svelte
  src/lib/blocks/dashboard/Header.svelte
  src/lib/blocks/dashboard/Header1.svelte
  src/lib/blocks/dashboard/Header2.svelte
  src/lib/blocks/dashboard/Header3.svelte
  src/lib/blocks/dashboard/index.ts
  src/lib/blocks/index.ts
  src/lib/blocks/side/SideMenu.svelte
  src/lib/blocks/side/index.ts
  src/lib/blocks/stats/Stats.svelte
  src/lib/blocks/stats/Stats1.svelte
  src/lib/blocks/stats/Stats2.svelte
  src/lib/blocks/stats/Stats3.svelte
  src/lib/blocks/stats/Stats4.svelte
  src/lib/blocks/stats/Stats5.svelte
  src/lib/blocks/stats/Stats6.svelte
  src/lib/blocks/stats/index.ts
  src/lib/graphql/QUERY.ListPolicies.gql
  src/lib/stores/auth.store.ts
  src/routes/(app)/dashboard/+layout.svelte
  src/routes/(app)/dashboard/+page.svelte
  src/routes/(app)/dashboard/blocks/StatsCard1.svelte
  src/routes/(app)/dashboard/blocks/StatsCard2.svelte
  src/routes/(app)/dashboard/blocks/index.ts
Labels: app, documentation, workspace

fix(auth): workaround for https://github.com/authts/oidc-client-ts/issues/790 [skip ci]
  package-lock.json
  src/lib/stores/auth.store.ts
Labels: none

fix(play): add container-queries play example [skip ci]
  docs/playbook.md
  package-lock.json
  package.json
  schema.graphql
  src/routes/(play)/play/+layout.svelte
  src/routes/(play)/play/+page.svelte
  src/routes/(play)/play/movies/+page.svelte
  src/routes/(play)/play/movies/Card.svelte
  src/routes/(play)/play/movies/README.md
  src/routes/(play)/play/movies/movies.json
  static/movies/aniara.jpeg
  static/movies/fast-color.jpeg
  static/movies/jurassic-hunt.jpeg
  static/movies/sky-captain.jpeg
  tailwind.config.cjs
Labels: documentation, workspace

docs(docs): polish docs [skip ci]
  docs/awesome-tailwind.md
  docs/playbook.md
Labels: documentation

refactor(auth): using mergeClaims: false to avoid duplicate profile picture [skip ci]
  src/lib/stores/auth.store.ts
Labels: none

refactor(houdini): move houdini examples to play [skip ci]
  .prettierignore
  houdini.config.js
  src/lib/graphql/FRAG.PolicyList.gql
  src/lib/graphql/QUERY.SearchPolicies.gql
  src/routes/(app)/dashboard/hasura/+page.svelte
  src/routes/(app)/dashboard/policies/+page.server.ts
  src/routes/(app)/dashboard/policies/+page.svelte
  src/routes/(play)/play/houdini/+page.gql
  src/routes/(play)/play/houdini/+page.svelte
  src/routes/(play)/play/houdini/+page.ts
  src/routes/(play)/play/houdini/demo/+page.svelte
  src/routes/(play)/play/houdini/demo/+page.ts
Labels: app

fix(build): adding missing houdini config files to dockerignore
  .dockerignore
Labels: none

build(deps): updated deps [skip ci]
  .env
  .env.example
  .gitignore
  .prettierignore
  .vscode/settings.json
  README.md
  docker-compose.yml
  docs/docker.md
  docs/hasura.md
  docs/playbook.md
  example.http
  houdini.config.js
  package-lock.json
  package.json
  playwright.config.ts
  schema.graphql
  src/app.d.ts
  src/lib/blocks/dashboard/Header.svelte
  src/lib/graphql/client.ts
  src/routes/(app)/dashboard/accounts/+page.server.ts
  src/routes/(app)/dashboard/accounts/[id]/+page.server.ts
  src/routes/(app)/dashboard/policies/+page.server.ts
  src/routes/(app)/dashboard/policies/+page.svelte
  src/routes/(app)/dashboard/policies/[id]/+page.server.ts
  src/setupTest.ts
  svelte.config.js
  tsconfig.json
  vite.config.ts
Labels: app, documentation, workspace

build(deps): updated deps
  package-lock.json
  package.json
Labels: workspace

.github/labeler.yml:

app:
  - src/routes/(app)/**/*
  - change-notes/**/*app*
marketing:
  - src/routes/(marketing)/**/*
  - change-notes/**/*marketing*
documentation:
  - '**/*.md'
  - docs/**/*
test:
  - tests/**/*
  - change-notes/**/*tests*
api:
  - src/routes/api/**/*
  - change-notes/**/*api*
users:
  - src/routes/dashboard/users/**/*
  - change-notes/**/*users*
groups:
  - src/routes/dashboard/groups/**/*
  - change-notes/**/*groups*
workspace:
  - .github/**/*
  - Dockerfile*.*
  - package.json
