Repository userquin/svelte-starter-kit-pwa-issue-437, changes with the labels that .github/labeler.yml gives for each.
All labels: app, marketing, documentation, test, api, users, groups, workspace

chore(deps): updated deps [skip ci]
  package-lock.json
  package.json
Labels: workspace

ci(docker): update tini [skip ci]
  .vscode/settings.json
  Dockerfile
  README.md
  docs/docker.md
  docs/playbook.md
  docs/sveltekit.md
  package-lock.json
  package.json
Labels: documentation, workspace

style(docs): markdown lint fix [skip ci]
  .prettierrc
  .vscode/settings.json
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  README.md
  docs/playbook.md
  docs/sveltekit.md
Labels: documentation

style(root): vscode lint fix [skip ci]
  CODE_OF_CONDUCT.md
  docs/playbook.md
  docs/sveltekit.md
  src/hooks.server.ts
  src/mocks/README.md
  src/routes/(app)/dashboard/+layout.svelte
  src/routes/(app)/dashboard/+page.svelte
  src/routes/(app)/dashboard/accounts/+page.server.ts
  src/routes/(app)/dashboard/accounts/+page.svelte
  src/routes/(app)/dashboard/accounts/[id]/+page.server.ts
  src/routes/(app)/dashboard/accounts/[id]/+page.svelte
  src/routes/(app)/dashboard/blocks/Footer2.svelte
  src/routes/(app)/dashboard/blocks/Header1.svelte
  src/routes/(app)/dashboard/blocks/SideMenu.svelte
  src/routes/(app)/dashboard/blocks/StatsCard.svelte
  src/routes/(marketing)/+layout.svelte
  src/routes/(marketing)/+page.svelte
  src/routes/(marketing)/about/+page.svelte
  src/routes/(marketing)/blog/+page.svelte
  src/routes/(marketing)/faq/+page.svelte
  src/routes/(marketing)/features/+page.svelte
  src/routes/(marketing)/page.test.ts
  src/routes/(play)/play/draggable/+page.svelte
  src/routes/api/demo/+server.ts
  tests/home.spec.ts
  vite.config.ts
Labels: app, marketing, documentation, test, api

chore(deps): updated deps [skip ci]
  package-lock.json
  package.json
Labels: workspace

chore(docker): using build args for versionInfo [skip ci]
  .github/workflows/release.yml
  vite.config.ts
Labels: workspace

chore(docker): using build args for versionInfo [skip ci]
  .github/workflows/release.yml
Labels: workspace

chore(docker): using build args for versionInfo [skip ci]
  .github/workflows/release.yml
  Dockerfile
  vite.config.ts
Labels: workspace

chore(docker): using build args for versionInfo [skip ci]
  vite.config.ts
Labels: none

chore(docker): using build args for versionInfo [skip ci]
  .github/workflows/release.yml
  Dockerfile
  docs/docker.md
  vite.config.ts
Labels: documentation, workspace

chore(version): v0.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: documentation, workspace

chore(docker): using build args for versionInfo [skip ci]
  Dockerfile
  vite.config.ts
Labels: none

feat(policy): adding policy route
  .env
  .env.example
  api_tests.http
  docs/mockend.md
  example.http
  src/app.d.ts
  src/lib/config.ts
  src/routes/(app)/dashboard/blocks/SideMenu.svelte
  src/routes/(app)/dashboard/policies/+page.server.ts
  src/routes/(app)/dashboard/policies/+page.svelte
  src/routes/(app)/dashboard/policies/[id]/+page.server.ts
  src/routes/(app)/dashboard/policies/[id]/+page.svelte
Labels: app, documentation

style(root): fix svelteSortOrder [skip ci]
  .env
  .prettierrc
  example.http
  src/lib/components/Button.svelte
  src/lib/components/Hamburger.svelte
  src/lib/components/PageLoading.svelte
  src/lib/components/PreloadingIndicator.svelte
  src/routes/(app)/dashboard/accounts/+page.svelte
  src/routes/(app)/dashboard/accounts/[id]/+page.svelte
  src/routes/(app)/dashboard/blocks/StatsCard2.svelte
  src/routes/(app)/dashboard/policies/+page.server.ts
  src/routes/(app)/dashboard/policies/+page.svelte
  src/routes/(app)/dashboard/policies/[id]/+page.svelte
  src/routes/+error.svelte
Labels: app

chore(play): adding grid routes
  .env
  .env.example
  src/routes/(play)/play/+page.svelte
  src/routes/(play)/play/grid1/+page.svelte
  src/routes/(play)/play/grid2/+page.svelte
  src/routes/(play)/play/grid2/colors.ts
  src/routes/(play)/play/grid3/+page.svelte
Labels: none

chore(tools): adding vs code plugin for GraphQL [skip ci]
  .vscode/extensions.json
  src/lib/graphql/policies.gql
Labels: none

chore(tools): vs code graphql plugin [skip ci]
  docs/playbook.md
  package-lock.json
  package.json
  src/lib/graphql/policies.gql
  src/routes/(app)/dashboard/policies/+page.server.ts
Labels: app, documentation, workspace

feat(auth): adding github auth
  .env
  src/app.d.ts
  src/hooks.server.ts
  src/lib/blocks/header/Header1.svelte
  src/lib/constants.ts
  src/lib/models/types/user.ts
  src/lib/utils/cookies.ts
  src/lib/utils/encrypt.ts
  src/lib/utils/index.ts
  src/routes/(app)/dashboard/+layout.server.ts
  src/routes/(app)/dashboard/+layout.svelte
  src/routes/(app)/dashboard/blocks/Header1.svelte
  src/routes/(app)/dashboard/blocks/SideMenu.svelte
  src/routes/(marketing)/auth/callback/+server.ts
  src/routes/(marketing)/auth/login/+server.ts
  src/routes/(marketing)/auth/logout/+server.ts
Labels: app, marketing

chore(deps): deps updated [skip ci]
  package-lock.json
  package.json
Labels: workspace

fix(login): adding avatar for header
  src/routes/(app)/dashboard/+layout.svelte
  src/routes/(app)/dashboard/blocks/Header1.svelte
  src/routes/(app)/dashboard/profile/+page.server.ts
  src/routes/(app)/dashboard/profile/+page.svelte
Labels: app

chore(lint): fix lint [skip ci]
  src/app.d.ts
  src/routes/(app)/dashboard/blocks/Header1.svelte
  src/routes/(app)/dashboard/blocks/SideMenu.svelte
  src/routes/(marketing)/auth/callback/+server.ts
  src/routes/(marketing)/auth/login/+server.ts
  src/routes/(marketing)/auth/logout/+server.ts
Labels: app, marketing

fix(lint): remove svelte-intellisense vscode plugin, fix lint
  .vscode/extensions.json
  src/lib/blocks/feature/Feature2.svelte
  src/lib/blocks/feature/Feature3.svelte
  src/lib/blocks/feature/Feature4.svelte
  src/lib/blocks/footer/Footer1.svelte
  src/lib/blocks/footer/Footer3.svelte
  src/lib/blocks/footer/Footer4.svelte
  src/lib/blocks/gallery/Gallery2.svelte
  src/lib/blocks/team/Team1.svelte
  src/lib/blocks/team/Team3.svelte
  src/routes/(app)/dashboard/accounts/+page.svelte
  src/routes/(app)/dashboard/accounts/[id]/+page.svelte
  src/routes/(app)/dashboard/blocks/Footer1.svelte
  src/routes/(app)/dashboard/blocks/Header2.svelte
  src/routes/(app)/dashboard/blocks/Header3.svelte
  src/routes/(app)/dashboard/blocks/SideMenu.svelte
  src/routes/(app)/dashboard/blocks/StatsCard.svelte
  src/routes/(app)/dashboard/policies/+page.server.ts
  src/routes/(app)/dashboard/policies/+page.svelte
  src/routes/(app)/dashboard/policies/[id]/+page.svelte
  src/routes/(app)/dashboard/settings/+page.svelte
  src/routes/(app)/dashboard/tenants/+page.svelte
  src/routes/(app)/dashboard/users/+page.svelte
Labels: app

chore(errors): adding Sentry error tracking [skip ci]
  .env
  .env.example
  docs/playbook.md
  package-lock.json
  package.json
  src/hooks.client.ts
  src/hooks.server.ts
  src/routes/(app)/dashboard/policies/+page.server.ts
  src/routes/(app)/dashboard/policies/[id]/+page.server.ts
Labels: app, documentation, workspace

feat(toasts): add toasts component
  src/lib/components/toast/Toasts.svelte
  src/lib/components/toast/index.ts
  src/lib/components/toast/store.ts
  src/routes/(app)/dashboard/+layout.svelte
  src/routes/(app)/dashboard/settings/+page.svelte
Labels: app

docs(toasts): adding toasts readme
  docs/playbook.md
  src/lib/components/toast/README.md
  src/lib/components/toast/Toasts.svelte
Labels: documentation

fix(graphql): adding urql lib
  .env
  .env.example
  docs/playbook.md
  package-lock.json
  package.json
  src/lib/graphql/client.ts
  src/routes/(app)/dashboard/+layout.svelte
  src/routes/(app)/dashboard/policies/+page.server.ts
  src/routes/(app)/dashboard/policies/+page.svelte
  vite.config.ts
Labels: app, documentation, workspace

chore(lint): fix lint [skip ci]
  .vscode/extensions.json
  package-lock.json
  package.json
  src/lib/graphql/schema.docs.graphql
  src/routes/(marketing)/auth/login/+server.ts
Labels: marketing, workspace

fix(auth): add azure login
  .env
  .github/pull-request-template.md
  src/lib/blocks/header/Header1.svelte
  src/lib/config.ts
  src/lib/graphql/client.ts
  src/lib/models/types/user.ts
  src/lib/utils/cookies.ts
  src/lib/utils/index.ts
  src/lib/utils/pkce.ts
  src/routes/(app)/dashboard/+layout.server.ts
  src/routes/(app)/dashboard/+layout.svelte
  src/routes/(app)/dashboard/blocks/Header1.svelte
  src/routes/(app)/dashboard/blocks/SideMenu.svelte
  src/routes/(app)/dashboard/profile/+page.server.ts
  src/routes/(app)/dashboard/profile/+page.svelte
  src/routes/(marketing)/auth/callback/azure/+server.ts
  src/routes/(marketing)/auth/callback/github/+server.ts
  src/routes/(marketing)/auth/login/+server.ts
  src/routes/(marketing)/auth/login/azure/+server.ts
  src/routes/(marketing)/auth/login/github/+server.ts
  src/routes/(marketing)/auth/logout/azure/+server.ts
  src/routes/(marketing)/auth/logout/github/+server.ts
  src/routes/api/demo/+server.ts
Labels: app, marketing, documentation, api, workspace

chore(auth): update azure-ad auth [skip ci]
  .env
  docs/auth.md
  docs/sveltekit.md
  package-lock.json
  package.json
  src/lib/blocks/header/Header1.svelte
  src/lib/models/types/user.ts
  src/lib/utils/cookies.ts
  src/routes/(app)/dashboard/+layout.server.ts
  src/routes/(app)/dashboard/+layout.svelte
  src/routes/(app)/dashboard/blocks/Header1.svelte
  src/routes/(app)/dashboard/blocks/SideMenu.svelte
  src/routes/(app)/dashboard/profile/+page.server.ts
  src/routes/(app)/dashboard/profile/+page.svelte
  src/routes/(marketing)/auth/callback/azure/+server.ts
  src/routes/(marketing)/auth/login/azure/+server.ts
  src/routes/api/avatar/+server.ts
Labels: app, marketing, documentation, api, workspace

feat(auth): replacing server-side oauth with client-side openid
  .env
  docs/auth.md
  docs/playbook.md
  package-lock.json
  package.json
  src/app.d.ts
  src/hooks.client.ts
  src/hooks.server.ts
  src/lib/blocks/header/Header1.svelte
  src/lib/blocks/hero/Hero5.svelte
  src/lib/components/Hamburger.svelte
  src/lib/config-public.ts
  src/lib/config.ts
  src/lib/graphql/client.ts
  src/lib/hooks/index.ts
  src/lib/models/types/user.ts
  src/lib/stores/auth.store.ts
  src/lib/stores/index.ts
  src/lib/stores/sidebar.store.ts
  src/lib/utils/cookies.ts
  src/routes/(app)/dashboard/+layout.server.ts
  src/routes/(app)/dashboard/+layout.svelte
  src/routes/(app)/dashboard/blocks/Header1.svelte
  src/routes/(app)/dashboard/blocks/SideMenu.svelte
  src/routes/(app)/dashboard/policies/+page.svelte
  src/routes/(app)/dashboard/profile/+page.server.ts
  src/routes/(app)/dashboard/profile/+page.svelte
  src/routes/(marketing)/auth/callback/azure/+server.ts
  src/routes/(marketing)/auth/callback/github/+server.ts
  src/routes/(marketing)/auth/login/azure/+server.ts
  src/routes/(marketing)/auth/login/github/+server.ts
  src/routes/(marketing)/auth/logout/azure/+server.ts
  src/routes/(marketing)/auth/logout/github/+server.ts
  src/routes/(marketing)/page.test.ts
  src/routes/+layout.svelte
  tests/home.spec.ts
  tests/misc.spec.ts
  vite.config.ts
Labels: app, marketing, documentation, test, workspace

feat(auth): replacing server-side oauth with client-side openid
  src/hooks.server.ts
Labels: none

fix(auth): optmize auth.store [skip ci]
  src/lib/stores/auth.store.ts
Labels: none

fix(deps): updated deps[skip ci]
  .env
  package-lock.json
  package.json
Labels: workspace

fix(deps): updated deps[skip ci]
  Dockerfile
Labels: none

fix(auth): silent refresh fix [skip ci]
  docs/sveltekit.md
  src/hooks.client.ts
  src/hooks.server.ts
  src/lib/stores/auth.store.ts
Labels: documentation

fix(auth): cleanup user cookies when user is stale
  docs/sveltekit.md
  src/lib/components/Delete.svelte
  src/lib/components/Link.svelte
  src/lib/components/index.ts
  src/lib/stores/auth.store.ts
  src/lib/utils/errors/grpc2http.ts
  src/lib/utils/errors/index.ts
  src/routes/(app)/dashboard/policies/+page.server.ts
  src/routes/(app)/dashboard/policies/+page.svelte
Labels: app, documentation

fix(policy): add delete action [skip ci]
  package-lock.json
  package.json
  src/lib/components/Delete.svelte
  src/lib/graphql/policies.gql
  src/lib/stores/auth.store.ts
  src/routes/(app)/dashboard/+layout.server.ts
  src/routes/(app)/dashboard/+page.svelte
  src/routes/(app)/dashboard/policies/+page.server.ts
  src/routes/(app)/dashboard/policies/+page.svelte
Labels: app, workspace

chore(deps): deps updated [skip ci]
  .gitignore
  docker-compose.yml
  docs/graphql.md
  docs/playbook.md
  example.http
  infra/db_scripts/init-database.sh
  package-lock.json
  package.json
Labels: documentation, workspace

style(ui): adding DaisyUI UI components
  README.md
  docs/playbook.md
  package-lock.json
  package.json
  tailwind.config.cjs
Labels: documentation, workspace

feat(accounts): add CRUD example with hasura graphql
  .env
  .env.example
  .gitignore
  README.md
  docker-compose.yml
  docs/graphql.md
  docs/playbook.md
  docs/sveltekit.md
  example.http
  infra/data/dump.sql
  package.json
  src/app.d.ts
  src/hooks.client.ts
  src/hooks.server.ts
  src/lib/components/Delete.svelte
  src/lib/components/ErrorMessage.svelte
  src/lib/components/Errors.svelte
  src/lib/components/FloatingLabelField.svelte
  src/lib/components/PageLoading.svelte
  src/lib/components/Tags.svelte
  src/lib/components/index.ts
  src/lib/graphql/policies.gql
  src/lib/models/schema/account.schema.ts
  src/lib/models/schema/index.ts
  src/lib/stores/auth.store.ts
  src/lib/utils/errors/http.error.ts
  src/lib/utils/errors/index.ts
  src/lib/utils/zod.utils.ts
  src/routes/(app)/dashboard/+page.svelte
  src/routes/(app)/dashboard/accounts/+page.server.ts
  src/routes/(app)/dashboard/accounts/[id]/+page.server.ts
  src/routes/(app)/dashboard/blocks/Header1.svelte
  src/routes/(app)/dashboard/blocks/SideMenu.svelte
  src/routes/(app)/dashboard/policies/+page.server.ts
  src/routes/(app)/dashboard/policies/+page.svelte
  src/routes/(app)/dashboard/policies/[id]/+page.server.ts
  src/routes/(app)/dashboard/policies/[id]/+page.svelte
  src/routes/(play)/play/+layout.svelte
Labels: app, documentation, workspace

.github/labeler.yml:

app:
  - src/routes/(app)/**/*
  - change-notes/**/*app*
marketing:
  - src/routes/(marketing)/**/*
  - change-notes/**/*marketing*
documentation:
  - '**/*.md'
  - docs/**/*
test:
  - tests/**/*
  - change-notes/**/*tests*
api:
  - src/routes/api/**/*
  - change-notes/**/*api*
users:
  - src/routes/dashboard/users/**/*
  - change-notes/**/*users*
groups:
  - src/routes/dashboard/groups/**/*
  - change-notes/**/*groups*
workspace:
  - .github/**/*
  - Dockerfile*.*
  - package.json
