Repository userquin/svelte-starter-kit-pwa-issue-437, changes with the labels that .github/labeler.yml gives for each.
All labels: app, marketing, documentation, test, api, users, groups, workspace

.github/labeler.yml:

app:
  - src/routes/(app)/**/*
  - change-notes/**/*app*
marketing:
  - src/routes/(marketing)/**/*
  - change-notes/**/*marketing*
documentation:
  - '**/*.md'
  - docs/**/*
test:
  - tests/**/*
  - change-notes/**/*tests*
api:
  - src/routes/api/**/*
  - change-notes/**/*api*
users:
  - src/routes/dashboard/users/**/*
  - change-notes/**/*users*
groups:
  - src/routes/dashboard/groups/**/*
  - change-notes/**/*groups*
workspace:
  - .github/**/*
  - Dockerfile*.*
  - package.json

build(deps): updated deps
  src/setupTest.ts
Labels: none

build(houdini): updated houdini to 0.19.0
  .env
  docs/playbook.md
  houdini.config.js
  package-lock.json
  package.json
  src/lib/graphql/client.ts
  src/lib/models/schema/account.schema.ts
  src/lib/utils/zod.test.ts
  src/lib/utils/zod.utils.ts
  src/routes/(app)/dashboard/policies/+page.server.ts
  src/routes/(play)/play/+page.svelte
  src/routes/(play)/play/houdini/+page.ts
  src/routes/(play)/play/houdini/demo/+page.svelte
  src/routes/(play)/play/houdini/demo/+page.ts
Labels: app, documentation, workspace

build(houdini): updated houdini to 0.19.0
  .env
Labels: none

style(lint): format code
  .prettierrc
  src/app.d.ts
  src/lib/components/ContextMenu.svelte
  src/lib/components/GTag.svelte
  src/lib/components/SplitPanel.svelte
  src/lib/components/index.ts
  src/lib/middleware/logger.ts
  src/lib/utils/errors/index.ts
  src/lib/utils/zod.utils.ts
  src/routes/(play)/play/+page.svelte
  src/routes/(play)/play/panel/+page.svelte
  vite.config.ts
Labels: none

style(svelte): using typescript satisfies
  package.json
  src/hooks.client.ts
  src/hooks.server.ts
  src/lib/middleware/index.ts
  src/lib/server/middleware/auth.ts
  src/lib/server/middleware/guard.ts
  src/lib/server/middleware/houdini.ts
  src/lib/server/middleware/index.ts
  src/lib/server/middleware/logger.ts
  src/routes/(app)/dashboard/+layout.server.ts
  src/routes/(app)/dashboard/accounts/+page.server.ts
  src/routes/(app)/dashboard/accounts/[id]/+page.server.ts
  src/routes/(app)/dashboard/policies/+page.server.ts
  src/routes/(app)/dashboard/policies/[id]/+page.server.ts
  src/routes/(auth)/logout/+page.server.ts
  src/routes/api/avatar/+server.ts
  src/routes/api/demo/+server.ts
Labels: app, api, workspace

fix(play): add elizabot
  src/lib/components/toast/README.md
  src/routes/(play)/play/chat/+page.svelte
  src/routes/(play)/play/chat/default-responses.json
  src/routes/(play)/play/chat/elizabot.ts
Labels: documentation

docs(README): updated todo in README
  .vscode/settings.json
  README.md
  docs/hasura.md
  docs/nhost.md
  src/routes/(play)/play/panel/+page.svelte
  src/routes/(play)/play/panel/README.md
Labels: documentation

build(pnpm): switch npm to pnpm
  .github/ci.yml
  .github/pull-request-template.md
  .github/workflows/check.yml
  .lintstagedrc.cjs
  Dockerfile
  README.md
  docs/auth.md
  docs/hasura.md
  docs/playbook.md
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/hooks.server.ts
  src/lib/blocks/dashboard/Header.svelte
  src/lib/server/middleware/auth.ts
  src/lib/server/middleware/index.ts
  src/lib/stores/index.ts
  src/routes/(app)/dashboard/+layout.svelte
  src/routes/(auth)/callback/+page.ts
  src/routes/(auth)/login/+page.ts
Labels: app, documentation, workspace

build(pnpm): switch npm to pnpm
  .dockerignore
  Dockerfile
  README.md
  docs/docker.md
  docs/playbook.md
  package.json
  pnpm-lock.yaml
  src/routes/(app)/dashboard/policies/[id]/+page.svelte
  src/routes/(play)/play/+page.svelte
  src/routes/(play)/play/chat/elizabot.ts
  src/routes/(play)/play/sverdle/+page.server.ts
  src/routes/(play)/play/sverdle/+page.svelte
  src/routes/(play)/play/sverdle/game.test.ts
  src/routes/(play)/play/sverdle/game.ts
  src/routes/(play)/play/sverdle/how-to-play/+page.svelte
  src/routes/(play)/play/sverdle/how-to-play/+page.ts
  src/routes/(play)/play/sverdle/reduced-motion.ts
  src/routes/(play)/play/sverdle/words.server.ts
Labels: app, documentation, workspace

chore(version): v0.4.0
  CHANGELOG.md
  package.json
Labels: documentation, workspace

feat(authjs): switching from client-side auth to servder-side auth (#67)
  .env
  .env.example
  docker-compose.yml
  docs/awesome-tailwind.md
  docs/hasura.md
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  src/app.d.ts
  src/hooks.server.ts
  src/lib/blocks/dashboard/Header.svelte
  src/lib/blocks/side/SideMenu.svelte
  src/lib/server/middleware/auth.ts
  src/lib/server/middleware/authjs.ts
  src/lib/server/middleware/guard.ts
  src/lib/server/middleware/houdini.ts
  src/lib/server/middleware/index.ts
  src/lib/stores/auth.store.ts
  src/lib/stores/index.ts
  src/routes/(app)/dashboard/+layout.server.ts
  src/routes/(app)/dashboard/+layout.svelte
  src/routes/(app)/dashboard/policies/+page.server.ts
  src/routes/(app)/dashboard/policies/[id]/+page.server.ts
  src/routes/(app)/dashboard/profile/+page.svelte
  src/routes/(auth)/+layout.svelte
  src/routes/(auth)/callback/+page.svelte
  src/routes/(auth)/login/+page.svelte
  src/routes/(auth)/logout/+page.server.ts
  src/routes/(play)/play/panel/README.md
Labels: app, documentation, workspace

fix(authjs): fix auth prerender issue
  package.json
  src/lib/server/middleware/guard.ts
  src/routes/(auth)/callback/+page.ts
  src/routes/(auth)/login/+page.ts
Labels: workspace

feat(pwa): adding Vite PWA
  README.md
  docs/playbook.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/app.html
  src/lib/components/ReloadPrompt.svelte
  src/routes/+layout.svelte
  src/service-worker.ts
  tsconfig.json
  vite.config.ts
Labels: documentation, workspace

build(deps): deps updated
  package.json
  pnpm-lock.yaml
Labels: workspace

build(deps): deps updated
  .prettierignore
  src/lib/server/middleware/guard.ts
Labels: none

fix(prw): polish Vite PWA config
  .gitignore
  .prettierignore
  README.md
  package.json
  pnpm-lock.yaml
  src/app.html
  src/routes/(play)/play/+layout.svelte
  src/routes/(play)/play/+page.svelte
  src/routes/(play)/play/chat/+page.svelte
  src/routes/(play)/play/demo/+page.svelte
  src/routes/(play)/play/draggable/+page.svelte
  src/routes/(play)/play/panel/README.md
  src/routes/+layout.svelte
  static/robots.txt
  static/site.webmanifest
  vite.config.ts
Labels: documentation, workspace

fix(pwa): polish Vite PWA config
  .env
  docker-compose.yml
  docs/docker.md
  src/lib/server/middleware/authjs.ts
Labels: documentation

fix(pwa): polish Vite PWA config
  src/app.html
  svelte.config.js
  vite.config.ts
Labels: none
